/*
 =================
     COLORES
 =================
 */

$amarillo: #ffbf00;



/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,900|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');
/*
font-family: 'Raleway', sans-serif;
font-family: 'Merriweather', serif;
*/

/* RESET */
*{margin: 0; padding: 0;border: 0;}

img{height: auto;}
html,body{-webkit-font-smoothing: antialiased; font-family: 'Merriweather', serif; color:#434343; background-color: #f3f3f3;}
.clear{clear: both;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display: block;}
div,input,li,article,section,textarea,header,nav{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box;}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus { -webkit-text-fill-color: green; transition: background-color 5000s ease-in-out 0s;}

/* HEADER */
header{position:fixed; display: flex; align-items: center; justify-content: center; top:0; left:0; z-index: 200; width: 100%; height: 100px; background-color: #fff; padding: 10px 40px; border-bottom: 12px solid #e79e15; -webkit-box-shadow: 0px 6px 23px -6px rgba(0,0,0,0.75); -moz-box-shadow: 0px 6px 23px -6px rgba(0,0,0,0.75); box-shadow: 0px 6px 23px -6px rgba(0,0,0,0.75);}
#titulo{height: 100px; }
h1{font-family: 'Merriweather', serif; color:#232323; font-size: 50px; font-weight: 900; margin-left: 250px;}
#tituloLinea1{display:block; position: absolute; z-index:220; margin-left: -340px;}
#tituloLinea2{display:block; position: absolute; top:36px; z-index:220; margin-left: -140px}
#amp{display:block; position: absolute; z-index:210; top:-18px; color:#b91414; font-size:100px; font-weight: 900;}

/* GENERAL */
h2{font-size:30px;}
#main{display: flex; flex-flow: row wrap; justify-content: space-around; align-items: center; align-content: center; margin-top:120px;}
#cajaFichas{width: 100%; flex: 1 100%;display: flex; flex-flow: row wrap; justify-content: space-around; align-items: center; align-content: center;}
section{height: 800px;}
article{margin-top: 40px; width: 450px; height: 629px; -webkit-box-shadow: 0px 6px 23px -6px rgba(0,0,0,0.75); -moz-box-shadow: 0px 6px 23px -6px rgba(0,0,0,0.75); box-shadow: 0px 6px 23px -6px rgba(0,0,0,0.75); border-radius: 17px; -moz-border-radius: 17px; -webkit-border-radius: 17px; background-size: cover; background-color: #f3f3f3;}
.fondoFicha{position: absolute; z-index: 100; width: 450px; height: 667px; background-image:  url("../img/fondo_tarjeta.png"); background-size: cover;}
input{font-family: 'Merriweather', serif;}
.nombre{margin-top: 38px; margin-left: 49px; padding: 15px 8px; height: 20px; width: 352px; font-size:18px; color:$amarillo; background: transparent; text-align: center;}
input.nombre::placeholder, input.nombre::-ms-input-placeholder, input.nombre:-ms-input-placeholder{color:$amarillo;}
.selecionRaza, .selecionClase{width: 368px;  margin-top: 20px; margin-left: 44px; padding: 20px;}
.selecionRaza label, .selecionClase label{display:block; width: 100%; margin-bottom: 10px; font-size: 18px;}
.selecionRaza select, .selecionClase select{display:block; width: 100%; padding: 12px 20px; font-size: 18px; font-family: 'Merriweather', serif; border:2px solid #232323; border-radius: .25rem;}
.cajaBotonEnviar{width: 368px;  margin-top: 120px; margin-left: 44px; padding: 20px; text-align: center;}
.btnBorde {padding: 12px 36px; font-size: 18px; border: 2px solid #232323; background-color: #fff; border-radius: .25rem; transition: color .15s ease-in-out, background-color .15s ease-in-out; cursor: pointer; margin: 0 5px;}
.btnBorde:hover{ color: #fff; background-color: $amarillo;}
.datosFicha{width: 368px; height: 83px; margin-top: 411px; margin-left: 41px; padding: 10px; background-color: rgba(0,0,0,0.5); color:#fff; font-size: 14px; font-family: 'Raleway', sans-serif; display:none;}
.datosFicha strong{color:$amarillo; font-weight: 400;}
.fila{float:left; width: 100%; margin-bottom: 10px;}
.columna{float:left; width: 48%; margin:0 1%;}
.datoR{margin-left: 3px; letter-spacing: 1px;}
.cajaBotonAtacar{width: 368px;  margin-top: 30px; margin-left: 44px; padding: 20px; text-align: center; display: none;}
.barra{width: 368px; margin-left: 41px; font-size: 12px; font-family: 'Raleway', sans-serif; display: none;}
.vitalidad{margin-top:14px;}
.energia{margin-top:4px;}
.barra p{line-height: 12px;}
progress[value] {-webkit-appearance: none; -moz-appearance: none; appearance: none; border: none; width: 100%; height: 10px; overflow:hidden; border:1px inset #666; background-color:#D8D8D8; border-radius: 3px;}
progress::-moz-progress-bar{border-radius: 3px;}
progress::-webkit-progress-bar { background-color:#D8D8D8; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25) inset; border-radius: 3px;}
.vitalidad progress::-moz-progress-bar{background:#0fce75;}
.energia progress::-moz-progress-bar{background:#0f88ce;}
.vitalidad progress::-webkit-progress-value {border-radius : 3px; background:#0fce75;}
.energia progress::-webkit-progress-value{border-radius : 3px; background:#0f88ce;}
.contenedorShield{position:absolute; width: 80%; opacity: 0.7; top:60px; left: 45px; display:none;}
.contenedorShield img{width: 100%;}
.contenedorImpact{position:absolute; width: 80%; opacity: 0.7; top:80px; left: 45px; display:none;}
.contenedorImpact img{width: 100%;}